/GeneratingReportsSpec.java
/InstallingJnarioInstallingTheEclipseToolingSpec.java
/InstallingJnarioSpec.java
/InstallingJnarioUsingJnarioWithMavenSpec.java
/_20FactsAboutXtendAModernizedJavaSpec.java
/_20FactsAboutXtendFunctionalProgrammingFTWSpec.java
/_20FactsAboutXtendReadableCodeWithExtensionMethodsSpec.java
/_20FactsAboutXtendSomeImportantDifferencesSpec.java
/_20FactsAboutXtendSpec.java
/_20FactsAboutXtendTheUberSwitchExpressionSpec.java
