/FilterExtractorSpec.java
/FilterExtractorSpecFilterCreation.java
/FilterExtractorSpecFilterExtractions.java
/HtmlAssetsCompilerSpec.java
/HtmlAssetsSpec.java
/RegexFilterSpec.java
/RegexFilterSpecFilteringExamples.java
/WhiteSpaceNormalizerSpec.java
/WhiteSpaceNormalizerSpecExamples.java
