/ExampleExtension.java
/AccessOfVariablesFeature.java
/AccessOfVariablesFeatureAccessAVariableDeclaredInBackgroundStep.java
/AccessOfVariablesFeatureAccessAVariableInTheSameStepItWasDeclaredIn.java
/AccessOfVariablesFeatureAccessAVariableReferencingAVariableFromBackgroundStep.java
/AccessOfVariablesFeatureAccessAVariableThatWasAssignedAValueOfAVariableDefinedInADifferentStep.java
/AccessOfVariablesFeatureAccessAVariableThatWasDeclaredInADifferentStep.java
/BackgroundsFeature.java
/BackgroundsFeatureGivenMethodsFromBackgroundsAreGeneratedInEveryScenarioClass.java
/BackgroundsFeatureInstantiatingObjectsInBackgrounds.java
/BackgroundsFeatureItIsPossibleToAddABackgroundToAFeature.java
/BackgroundsFeatureUsingFieldsFromBackgroundSteps.java
/CalculatorFeature.java
/CalculatorFeatureSimpleCalculatorTestWithBackgroundAndReferences.java
/DefiningFeatureBasesClassesFeature.java
/DefiningFeatureBasesClassesFeatureScenarioWithBackground.java
/FeatureExtensionsFeature.java
/FeatureExtensionsFeatureDefiningOwnExtensions.java
/FeatureExtensionsFeatureReferencingMultipleExtensions.java
/FeatureExtensionsFeatureReferencingStepsWithExtensions.java
/FeatureExtensionsFeatureReferencingStepsWithImportedExtensions.java
/FeatureExtensionsFeatureUsingJnarioPredefinedExtensions.java
/FeatureExtensionsFeatureUsingMultipleExtensions.java
/FieldInferenceFeature.java
/FieldInferenceFeatureInferringFieldsFromBackground.java
/FieldInferenceFeatureInferringFieldsFromBackgroundInDifferentFeature.java
/FieldInferenceFeatureInferringFieldsFromOtherScenario.java
/FieldInferenceFeatureInferringFieldsFromScenarioInDifferentFeatures.java
/ParsingSimpleJnarioFilesFeature.java
/ParsingSimpleJnarioFilesFeatureAndStuff.java
/PendingStepsFeature.java
/PendingStepsFeatureWhenAStepOfABackgroundAllFollowingStepsAndAllScenarioStepsShouldBePending.java
/PendingStepsFeatureWhenAnAndStepIsPendingTheFollowingStepsShouldBePending.java
/PendingStepsFeatureWhenOneStepOfAScenarioIsPendingThenAllFollowingShouldBePending.java
/ReferencesForStepsFeature.java
/ReferencesForStepsFeatureAccessingExtensionFieldMethods.java
/ReferencesForStepsFeatureBackgroundStepsReferencingOtherSteps.java
/ReferencesForStepsFeatureDefiningAStepAndUsingItInTheSameScenario.java
/ReferencesForStepsFeatureDuplicateExtensionViaStepRerferences.java
/ReferencesForStepsFeatureErrorMessagesInStepReferences.java
/ReferencesForStepsFeatureExtensionFields.java
/ReferencesForStepsFeatureExtensionFieldsInAndStep.java
/ReferencesForStepsFeatureFieldDependencies.java
/ReferencesForStepsFeatureFieldInitialization.java
/ReferencesForStepsFeatureMultipleStepReferencesCausesProblemWhenCopierDoesNotClearItsCache.java
/ReferencesForStepsFeatureOrderingInStepReferences.java
/ReferencesForStepsFeatureReferencingStepsWithDifferentKeyword.java
/ReferencesForStepsFeatureScenarioReferencesTwoStepsFromDifferentScenariosWhichDefineTheSameField.java
/ReferencesForStepsFeatureShouldNotInStepReferences.java
/ReferencesForStepsFeatureStaticMethodsWithParameters.java
/ReferencesForStepsFeatureStepReferencesWithExtensionsInSameScenario.java
/ReferencesForStepsFeatureSteps.java
/ReferencesForStepsFeatureStepsWithShortNames.java
/ReferencesForStepsFeatureUsingClosuresInSteps.java
/ReferencesForStepsFeatureUsingFieldsFromOtherSteps.java
/SetupTeardownWithFeatureExtensionsFeature.java
/SetupTeardownWithFeatureExtensionsFeatureUsingAnExtension.java
/StepParametersFeature.java
/StepParametersFeatureAccessOfParametersWithFirstSecond.java
/StepParametersFeatureFieldInitializersInBackgrounds.java
/StepParametersFeatureParameterDefinitionInAndSteps.java
/StepParametersFeatureParameterDefinitionInStepsAndBackground.java
/StepParametersFeatureParametersAreDefinedInQuotes.java
/StepParametersFeatureReferencingVariablesThatContainAValueFromArgs.java
/StepParametersFeatureUsingArgsInAndSteps.java
/StepParametersFeatureUsingMultilineStrings.java
/StepParametersFeatureWhiteSpaceNormalizing.java
/TestRunnerFeature.java
/TestRunnerFeatureCreateOnlyOneTestInstanceForOneJnarioScenario.java
/UsingJUnitRulesInFeaturesFeature.java
/UsingJUnitRulesInFeaturesFeatureUsingJUnitRules.java
/UsingMatchersInFeaturesFeature.java
/UsingMatchersInFeaturesFeatureUsingMatchersInJnario.java
